<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="utf-8">
		<title>Bem Vindo - EcoFly Virtual Airlines</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">
		
		<!-- Favicons -->
  		<link href="img/eco.ico" rel="icon">
  		<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  		<!-- #favicons -->
  		
  		<!-- Google Fonts -->
  		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  		<!-- #Google Fonts -->

		<!-- Bootstrap CSS File -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- #Bootstrap CSS File -->

	    <!-- Libraries CSS Files -->
	    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	    <link href="lib/animate/animate.min.css" rel="stylesheet">
	    <!-- #Libraries CSS Files -->

  		<!-- Main Stylesheet File -->
  		<link href="css/style.css" rel="stylesheet">
  		<!-- #Main Stylesheet File -->
  		
  		<!-- GEOCHARTS -->
  		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  		<script type="text/javascript" src="js/geocharts.js"></script>
  		<!-- #GEOCHARTS -->
	</head>
	<body>
		<!-- HEADER -->
		<header id="header">
			<div class="container">
				<div id="logo" class="pull-left">
					<a href="#hero"><img src="img/eco1.png" alt="" title="" /></img></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="homepilot">Home</a></li>
          				<li><a href="index">Site</a></li>
          				<li><a href="#services">Tarefas</a></li>
          				<li><a href="#portfolio">Finanças</a></li>
          				<li th:if="${group == 1}">
							<a href="adminlogin">Administração</a>
						</li>
          				<!--<li class="menu-has-children"><a href="">Drop Down</a>
            				<ul>
              					<li><a href="#">Drop Down 1</a></li>
              					<li class="menu-has-children"><a href="#">Drop Down 2</a>
                					<ul>
                  						<li><a href="#">Deep Drop Down 1</a></li>
                  						<li><a href="#">Deep Drop Down 2</a></li>
                  						<li><a href="#">Deep Drop Down 3</a></li>
                  						<li><a href="#">Deep Drop Down 4</a></li>
                  						<li><a href="#">Deep Drop Down 5</a></li>
                					</ul>
              					</li>
              					<li><a href="#">Drop Down 3</a></li>
              					<li><a href="#">Drop Down 4</a></li>
              					<li><a href="#">Drop Down 5</a></li>
            				</ul>
          				</li>
          				<li><a href="#contact">Contact Us</a></li>-->
          				<li>
          					<form id="logoutForm" method="POST" th:action="@{/logout}">
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							</form>
          					<a href="#" onclick="document.forms['logoutForm'].submit()">Sair</a>
          				</li>
          			</ul>
          		</nav>
          	</div>
		</header>
		<!-- #header -->
		
  		
  		<!-- Main -->
  		<main id="main">
    		

    		<!-- Facts Section -->
    		<section id="facts" style="padding: 30px 0 60px 0;">
      			
    		</section>
    		<!-- #facts -->
    		
    		<!-- About Us Section -->
    		<section id="about">
      			<div class="container">
        			<div class="row about-container">
          				<div class="col-lg-6 content order-lg-1 order-2">
            				<h2 class="title" th:text="${name}" style="text-transform: capitalize;"></h2>
            				<p style="font-size: 12pt; color: darkgray; margin-top: -5%;" th:text="${rank}"></p>
            				
            				<div class="icon-box wow fadeInUp">
              					<div class="icon">
              						<i class="fa fa-plane"></i>
              					</div>
              					<h4 class="title">Total de Voos</h4>
              					<p class="description" style="font-size: 15pt;" th:text="${totalFlights}"></p>
            				</div>

            				<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              					<div class="icon">
              						<i class="fa fa-bar-chart"></i>
              					</div>
              					<h4 class="title">Horas de Voo</h4>
              					<p class="description" style="font-size: 15pt;" th:text="${totalHours}"></p>
            				</div>

            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<div class="icon">
              						<i class="fa fa-money"></i>
              					</div>
              					<h4 class="title">Dinheiro</h4>
              					<p class="description" style="font-size: 15pt;" th:text="${#numbers.formatCurrency(totalPayment)}"></p>
            				</div>
          				</div>

          				<div class="col-lg-6 order-lg-2 order-1 wow fadeInRight">
          					<img th:src="@{${cracha}}" alt="" style="width: 60%; float: right;">
          				</div>
        			</div>
      			</div>
    		</section>
    		<!-- #about -->
  		</main>
  		<!-- #main -->
  		
  		<!-- Footer -->
  		<footer id="footer">
    		<div class="footer-top">
      			<div class="container"></div>
    		</div>

    		<div class="container">
      			<div class="copyright">
        			&copy; Copyright <strong>EcoFly Virtual Airlines</strong>.
      			</div>
      			<div class="credits">
        			Todos os direitos reservados
      			</div>
    		</div>
  		</footer>
  		<!-- #footer -->

		<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	</body>
</html>