<section id="portfolio" th:fragment="pictures">
	<div class="container wow fadeInUp">
		<div class="section-header">
			<h3 class="section-title">Fotos</h3>
			<p class="section-description">Veja as fotos dos nossos pilotos</p>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<ul id="portfolio-flters">
  					<li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">Todos</li>
  					<li data-filter=".filter-app">C172</li>
  					<li data-filter=".filter-card">C208</li>
  					<li data-filter=".filter-logo">C90B</li>
  					<li data-filter=".filter-web">B190</li>
  					<li data-filter=".filter-web">E145</li>
  					<li data-filter=".filter-web">AT75</li>
  					<li data-filter=".filter-web">E195</li>
  					<li data-filter=".filter-web">B738</li>
  					<li data-filter=".filter-web">A319</li>
  					<li data-filter=".filter-web">B748</li>
  					<li data-filter=".filter-web">B77W</li>
  					<li data-filter=".filter-web">DH8D</li>
  					<li data-filter=".filter-web">A333</li>
  					<li data-filter=".filter-web">CRJ7</li>
				</ul>
			</div>
		</div>

		<div class="row" id="portfolio-wrapper">
			<div class="col-lg-3 col-md-6 portfolio-item filter-app">
				<a href="">
  					<img src="img/portfolio/app1.jpg" alt="">
  					<div class="details">
    					<h4>App 1</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-web">
				<a href="">
  					<img src="img/portfolio/web2.jpg" alt="">
  					<div class="details">
    					<h4>Web 2</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-app">
				<a href="">
  					<img src="img/portfolio/app3.jpg" alt="">
  					<div class="details">
    					<h4>App 3</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-card">
				<a href="">
  					<img src="img/portfolio/card1.jpg" alt="">
  					<div class="details">
    					<h4>Card 1</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-card">
				<a href="">
  					<img src="img/portfolio/card2.jpg" alt="">
  					<div class="details">
    					<h4>Card 2</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-web">
				<a href="">
  					<img src="img/portfolio/web3.jpg" alt="">
  					<div class="details">
    					<h4>Web 3</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-card">
				<a href="">
  					<img src="img/portfolio/card3.jpg" alt="">
  					<div class="details">
    					<h4>Card 3</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-app">
				<a href="">
  					<img src="img/portfolio/app2.jpg" alt="">
  					<div class="details">
    					<h4>App 2</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-logo">
				<a href="">
  					<img src="img/portfolio/logo1.jpg" alt="">
  					<div class="details">
    					<h4>Logo 1</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-logo">
				<a href="">
  					<img src="img/portfolio/logo3.jpg" alt="">
  					<div class="details">
    					<h4>Logo 3</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-web">
				<a href="">
  					<img src="img/portfolio/web1.jpg" alt="">
  					<div class="details">
    					<h4>Web 1</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>

			<div class="col-lg-3 col-md-6 portfolio-item filter-logo">
				<a href="">
  					<img src="img/portfolio/logo2.jpg" alt="">
  					<div class="details">
    					<h4>Logo 2</h4>
    					<span>Alored dono par</span>
  					</div>
				</a>
			</div>
		</div>
	</div>
</section>