<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Bem Vindo - EcoFly Virtual Airlines</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">
		
		<!-- Favicons -->
  		<link href="img/eco.ico" rel="icon">
  		<link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  		<!-- #favicons -->
  		
  		<!-- Google Fonts -->
  		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  		<!-- #Google Fonts -->

		<!-- Bootstrap CSS File -->
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- #Bootstrap CSS File -->

	    <!-- Libraries CSS Files -->
	    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	    <link href="lib/animate/animate.min.css" rel="stylesheet">
	    <!-- #Libraries CSS Files -->

  		<!-- Main Stylesheet File -->
  		<link href="css/style.css" rel="stylesheet">
  		<!-- #Main Stylesheet File -->
	</head>
	<body>
		<!-- HEADER -->
		<div th:replace="~{header :: header}"></div>
		<!-- #HEADER -->
  		
  		<!-- Main -->
  		<main id="main">
  			<!-- Facts Section -->
    		<section id="facts" style="padding: 31px 0 60px 0;">
      			
    		</section>
    		<!-- #facts -->
    		
    		<!-- About Us Section -->
    		<section id="about">
    			<div class="container wow fadeInUp">
        			<div class="section-header">
          				<h3 class="section-title">Regulamento Ecofly</h3>
          				<p class="section-description">
          					 <br>
          					
          				</p>
          				
        			</div>
      			</div>
      			<div class="container wow fadeInUp">
        			<div >
          				<div class="col-sm-12">
            				<p>
              					A <b>Ecofly Virtual Airlines</b> é uma organização sem fins lucrativos ou promocionais, voltada apenas ao entretenimento e à aviação virtual.
								Não possui vínculos com nenhuma empresa do ramo da aviação real ou qualquer outra empresa real.
            				</p>
            				<p>
            					Buscando sempre o aperfeiçoamento de seus pilotos virtuais, a Ecofly busca
								dentro de suas possibilidades estabelecer alguns padrões de voos realizados por Cias Aéreas Reais, com voos em tempo real e com aeronaves de performance reais.
            				</p>
            				
            				<div class="icon-box wow fadeInUp">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Formas de ingresso</h4>
              					<p class="description">
              						Após a abertura de novas vagas o <u>candidato piloto solicita sua inscrição</u> através do site com o preenchimento de um formulário.
              					</p>
              					<p class="description">
              						> O prazo para sua aprovação será de até 30 dias corridos. 
									Os formulários serão examinados pelo setor de Recursos Humanos que por sua vez <u>convocará o candidato</u> para uma breve entrevista a ser <u>realizada</u> no Discord da Cia.
              					</p>
              					<p class="description">
              						> <u>Sendo aprovado seu</u> ingresso, o <u>candidato</u> receberá um E-mail com instruções iniciais e terá um prazo de 10 (Dez) dias corridos para realizar seu primeiro voo, 
              						caso contrário, o sistema <u>excluirá</u> automaticamente seu cadastro.
              					</p>
              					<p class="description">
              						> O cadastro é pessoal e intransferível. Caso seja repassado a outra pessoa o <u>candidato</u> será banido.
              					</p>
              					<p class="description">
              						> Não <u>aceitaremos agressões verbais</u> a nenhum <u>dos nossos integrantes</u>, bem como a <u>nenhuma das redes virtuais</u>, 
              						caso ocorra o usuário agressor será banido.
              					</p>
            				</div>

            				<div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Plano de carreira</h4>
              					<p class="description">
              						> <b>0 a 50 horas Trainee:</b> Nessa graduação o piloto <u>deverá demonstrar</u> noções de voo <b>VFR</b> e conhecimentos gerais sobre a aeronave <u><b>Cessna 172</b></u>;
              					</p>
              					<p class="description">
              						> <b>51 a 100 horas Piloto Privado:</b> Nessa graduação o piloto <u>deverá demonstrar</u> noções de voo <b>IFR</b> e conhecimentos gerais sobre a aeronave 
              						<u><b>Cessna C208 Grand Caravan</b></u>, também será possível nessa graduação realizar voos de transporte de carga com <u>essa aeronave na versão cargo</u>;
              					</p>
              					<p class="description">
              						> <b>101 a 150 horas Primeiro Oficial:</b> Buscando sempre o aperfeiçoamento e novos desafios o piloto privado voará com a aeronave 
              						<u><b>B1900D King Air</b></u>, <u>aumentando</u> assim seu campo de atuação dentro do espaço aéreo Brasileiro;
              					</p>
              					<p class="description">
              						> <b>151 a 200 horas Comandante:</b> Os desafios não param, é hora de <u>voar no Brasil</u> em altitudes cada vez mais elevadas. 
              						O <u>Comandante</u> terá sobre sua responsabilidade um <u><b>ATR72-500</b></u>, possibilitando assim um número maior de rotas e <u>novos horizontes</u>;
              					</p>
              					<p class="description">
              						> <b>201 a 250 horas Comandante Sênior:</b> Cortar os céus <u>da América do Sul</u> a bordo de um <u><b>Boeing 737-800</b></u> será o <u>novo desafio</u> do comandante sênior. 
              						O aperfeiçoamento constante será a marca dessa patente, e lembre-se que quanto maior a patente, maiores serão as responsabilidades;
              					</p>
              					<p class="description">
              						> <b>251 a 300 horas Comandante Master:</b> É chegada a hora de voar mais longe, ganhar novos ares, e por que não ganhar as Américas? 
              						<u>Voando</u> um <u><b>Boeing 777-200 LR</b></u> para qualquer país das Américas e conheça o que há de melhor nesses continentes;
              					</p>
              					<p class="description">
              						> <b>Acima de 301 horas Comandante Internacional:</b> Conhecer o mundo em uma aeronave <u>de grande envergadura</u> é o sonho de qualquer piloto. 
              						E isso será possível para o <u>Comandante Internacional</u> a bordo de um <u><b>Boeing 747-400</b></u>;
              					</p>
            				</div>

            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Requisitos mínimos</h4>
              					<p class="description">
              						> Possuir mais de <b>16</b> anos até o dia da inscrição;
              					</p>
              					<p class="description">
              						> Possuir joystick do tipo manche ou hardware de simulação de voo, não serão aceitos pilotos que usem controles de vídeo games;
              					</p>
              					<p class="description">
              						> Possuir <b>Microfone</b>;
              					</p>
              					<p class="description">
              						> Possuir internet acima de <b>15 Mb (megabite)</b> para bem utilizar todos os sistemas;
              					</p>
              					<p class="description">
              						> Possuir um computador que suporte no mínimo o <b>FSX</b>;
              					</p>
            				</div>
            				
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Reportar Voos</h4>
              					<p class="description">
              						> O sistema de reportar os voos escolhido pela ECOFLY Virtual é o <b>SmartAcars</b>. 
              						Esse programa grava todos os parâmetros do voo necessários à companhia e providencia o envio e atualização das horas voadas pelo piloto;
              					</p>
              					<p class="description">
              						> Não serão aceitos outros programas para <u>reportar os voos</u> realizados sem exceções;
              					</p>
              					<p class="description">
              						> <u>É terminantemente proibido acelerar</u> o tempo do simulador durante a realização dos voos, assim como <u>Pausar</u> e utilizar <u>Replay</u>;
              					</p>
            				</div>
            				
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Afastamento</h4>
              					<p class="description">
              						> <b>Caso <u>necessite</u> se ausentar por um período superior a 30 (trinta) dias, <u>solicite</u> ao Staff para que possamos ajustar as operações da Companhia.</b>
              					</p>
              					<p class="description">
              						> Sempre que for se ausentar e o período de inatividade chegar a 30 dias, o piloto deverá <u>requerer</u> ao Departamento de Recursos Humanos através de 
              						E-mail como o Título "Solicitação de afastamento", solicitando um afastamento temporário de até 30 dias (férias), 
              						sendo limitado o uso desta função a duas vezes por ano, com prazo de 15 dias em cada, com intervalos não inferiores a 06 meses. 
              						A não observância deste procedimento resultará em seu desligamento. Pilotos com menos de 30 horas de voo não poderão requerer afastamento.
              					</p>
              					<p class="description">
              						> No período de afastamento, o piloto terá seu acesso ao <b>SmartAcars</b> bloqueado, sendo liberado novamente no término do afastamento.
              					</p>
              					<p class="description">
              						> Pilotos que por algum motivo solicitarem retornar durante o período de afastamento, sua solicitação será analizada pelo Recursos Humanos da VA.
              					</p>
              					<p class="description">
              						> Pilotos que por motivos diversos, não utilizarem seu afastamento, os prazos não serão cumulativos.
              					</p>
            				</div>
            				
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Voos</h4>
              					<p class="description">
              						> <b>Para manter-se ativo, deverão ser realizados pelo menos 06 vôos a cada 30 (trinta) dias. Caso isto não ocorra, 
              						os voos remanescentes deverão se somar aos 6 voos do mês seguinte, caso não sejam cumpridos o piloto será inativado e 
              						passível de exclusão definitiva automaticamente após 90 dias. A Ecofly se resguarda ao direito de exclusão dos dados de usuários/pilotos 
              						inativos sem qualquer comunicação ou preservação dos dados pré-existentes.</b>
              					</p>
              					<p class="description">
              						> Em casos de exclusão por não cumprimento dos voos, os pilotos poderão ingressar novamente na VA, após um período de 120 dias, 
              						seguindo todas as regras do processo de seleção.
              					</p>
            				</div>
            				
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Direitos e Deveres</h4>
              					<p class="description">
              						> Respeitar e ser respeitado é um direito e dever de todos. A Ecofly Virtual é formada por pessoas que sobretudo amam a aviação e, 
              						desta forma, espera que não haja nenhum incidente entre nossos membros;
              					</p>
              					<p class="description">
              						> Tratem as pessoas com cordialidade, respeito e educação, da mesma forma que você gostaria que tratassem você;
              					</p>
              					<p class="description">
              						> O Discord não poderá ser usado para outra finalidade. Nosso sistema é exclusivo para membros da Cia. ou candidatos em processo de seleção;
              					</p>
              					<p class="description">
              						> É de inteira responsabilidade do piloto o uso de programas de origens ilícitas, como softwares piratas ou baixados. 
              						A Cia. Aérea Virtual, não se responsabiliza por danos causados por programas de origem duvidosa;
              					</p>
              					<p class="description">
              						> Será permanentemente proibido que um membro da companhia seja Staff em outra Cia. Aérea Virtual. 
              						Porém, não será vetado que os membros/staff da ECOFLY sejam pilotos virtuais em outras Cia. Aérea Virtual;
              					</p>
              					<p class="description">
              						> Todos os pilotos que estiverem realizando seus voos, deverão estar logados no Discord.
              					</p>
              					<p class="description">
              						> É de inteira responsabilidade do piloto a aquisição de softwares e hardwares visando o melhoramento da performance de sua máquina. 
              						A Ecofly não disponibilizará nenhum software para seus membros.
              					</p>
            				</div>
            				
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">Medidas Administrativas</h4>
              					<p class="description">
              						> Todos os usuários que possuírem conduta diferente da estabelecida em nosso regulamento serão 
              						submetidos ao conselho que mediante reunião, decidirão as medidas a serem adotadas para cada situação específica.
              					</p>
            				</div>
            				
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<h4 class="title" style="text-transform: uppercase; text-align: center;">O regulamento</h4>
              					<p class="description">
              						> Tal regulamento fica válido a partir de sua publicação no site da VA e qualquer mudança só poderá 
              						acontecer mediante reunião do conselho com no mínimo de 51% de presença de seus membros efetivos.
              					</p>
              					<p class="description">
              						> Todos os Conselheiros se comprometem a manter uma cópia do referido regulamento em arquivo. "PDF", impossibilitado de fazer quaisquer alterações.
              					</p>
            				</div>
            				</br>
            				<div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              					<p class="description" style="text-align: right;">
              						Att. Conselho Administrativo da Ecofly Virtual Airlines
              					</p>
            				</div>
          				</div>
        			</div>
      			</div>
    		</section>
    		<!-- #about -->
  		</main>
  		<!-- #main -->
  		
  		<!-- FOOTER -->
  		<div th:replace="~{footer :: footer}"></div>
  		<!-- #FOOTER -->

		<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

		<script src="lib/jquery/jquery.min.js"></script>
		<script src="lib/jquery/jquery-migrate.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="lib/easing/easing.min.js"></script>
		<script src="lib/wow/wow.min.js"></script>
		<script src="lib/waypoints/waypoints.min.js"></script>
		<script src="lib/counterup/counterup.min.js"></script>
		<script src="lib/superfish/hoverIntent.js"></script>
		<script src="lib/superfish/superfish.min.js"></script> 
		
		
		<script src="contactform/contactform.js"></script>
		
		<!-- Template Main Javascript File -->
		<script src="js/main.js"></script>
	</body>
</html>